*{
  margin: 0;
/*  font-family: 'Open Sans', sans-serif;
*/
}
body{
      background-color: #bdc3c7;


}
/*#F5FFFA*/
.container{
     background-color: #16a085;
    height: 30%;
    width: 100vw;
    position: absolute;
    /* margin-left: 77px; */
    float: right;
}
/*#778899*/
.second-wall {
    background-color: #34495e;
    background-size: cover;
    height: 36vh;
    width: 100vw;
    position: relative;


}


#r-text{
width: 0px;
float: right;
color: white;
 padding: 0% 35% 0% 0%;

}

.second_wall h2{
 padding: 0% 35% 0% 0%;
}

.Rouge_one{
    background-color:#16a085 ;
    height: 36vh;
    width: 100vw;

}

.Rouge_one h4{
  float: left;
}

h2{
    font-size: 47px;
    font-weight: 300;
    float: right;
    /* margin-right: 246px; */
    /* color: white; */
    /* margin-bottom: 4px; */
    font-family: 'Ubuntu', sans-serif;
}


.container p{
      width: 37vw;
    /* height: 131px; */
    font-size: 27px;
    margin: 0px 0px -65px 206px;
    /* padding-top: 346px; */
    color: white;
    margin-top: 13vh;
    float: right;
    padding-left: 143px;
    font-family: 'Poiret One', cursive;
}
/*#E1332D;*/
.Rouge_one{
    background-color: #1abc9c;
    height: 36vh;
    width: 100vw;

}



ul{
float: right;
    /* margin-left: -1vw; */
    margin-right: 228px;
}

li{
      list-style: none;
    padding-top: 2px;
    /* border: 1px solid black; */
    /* border-radius: 73px; */
    /* height: 17px; */
    /* width: 73px; */
    /* padding-left: 0px; */
    margin-left: 25px;
}
/*#5F9EA0*/
.third_wall{
    background-color:  #bdc3c7;
    background-size: cover;
    /* padding-left: 0vw; */
    height: 200px;
    position: relative;
}


header{
  background-color:;
  opacity: 0.6;
  height: 9vh;
  width: 95%;
  margin: 2px;
  position: absolute;
}

header h1{
     width: 60%;
    position: absolute;
    font-size: 8vh;
    margin: 100px 40px 0px 166px;
    color: #000000;
    font-family: 'Poiret One', cursive;
    font-family: 'Rajdhani', sans-serif;
}


#w-text {
   width: 0px;
    float: right;
    color: white;
    padding: 0% 47% 0% 1%;
}

#background-img{
  width: 28vw;
    height: 38vh;
}

/*background: url('images/iven.jpg');*/



.mySlides {
    width: 30vw;
    height: 34vh;
    /* padding: .4px; */
    border-radius: 0px;
       margin-right: -497px;
    margin-top: 4px;
    border-radius: 5px;
    /* background: #fff none repeat scroll 0 0; */
    display: inline;
    /* float: left; */
    /* text-align: center; */
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(171, 0, 0, 0.19);
    float: right;
}

.pic{
  width: 50px;
  height: 50px;
  border-radius: 45px;
  margin-top: 5px;
  margin-left:80px;
}

section{
  text-align: center;
}


#footer{
height: 100px;
width: 100%;
position: absolute;
bottom: 0;
}

.icons{
  list-style: none;
  text-align: center;
}

#footer{
  background-color: ;
  text-align:center;
  text-decoration: none;
}

#fot{
    text-align:center;
    font-size:10px;
    color: white;
}


@media screen and (max-width: 768px) {
    h1{
        font-size:30px;
    }
}

/*clock CSS*/

p {
  height: 50px;
  float: right;
  margin-right: 0.3em;
}
b {
  float: right;
  overflow: hidden;
  position: relative;
  height: 250px;
}

span1{
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  animation: move 15s;
  animation-iteration-count: infinite;
animation-delay: 1s;
}

@keyframes move {
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -400px; }
}

.sidenav {
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    background-color: #eceeeb;
    overflow-x: hidden;
    transition: 3s;
    padding-top: 30px;
    float: right;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 18px;}
}


span h1{
  color: white;
}

.openbtn{
    float: right;
    margin: 64px -39%


}

.third_wall ul{
  margin-left: 5%;


}
input .user{
    overflow: visible;
    margin-left: 145px;
    margin-top: 58px;
}

input{
    width: 343px;
    /* text-align: center; */
    height: 35px;
    padding: 5px;
    /* overflow: visible; */
    margin-left: 176px;
    margin-top: 49px;
    border-radius: 5px;
    float: right;
    margin-right: 136px;
}

h3{
  margin-left: 395px;
  margin-top: -2px;
  padding-top: 13px
}

.usertext{
    overflow: visible;
    margin-left: 110px;
    margin-top: 63px;
    height: 147px;

}
.third_wall p{
    margin: -1px -20px 0px 0px;
    font-size: 18px;
    color: black;

}
button{
    width: 156px;
    height: 34px;
    border: 5px solid black;
    background-color: initial;
    border-radius: 3px;
    float: right;
    margin-top: 257px;
    margin-right: -374px;
}


/*Rouge one style*/
.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/*defualt btn*/


.btn {
  color: #fff;
 /* cursor: pointer;*/
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;

  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media(min-width: 600px) {

    &:nth-of-type(even) {
      margin-right: 2.5em;
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }

  }

  &:hover { text-decoration: none; }

}
p{

}

/*END OF CLOCK*/
